

body {
    background-color: lightyellow;
    color: black;
    /*
    padding: 0em;
    margin: 0em;
    */
  }


h1 {
    text-align : center;
    vertical-align : middle;
}

h2 {
	text-align : center;
}


div {
    margin: 0.5em;
    
    margin-bottom: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
    
    padding: 1%;
  }

img {
	border: none;
}

td {
	padding-right: 1em;
}

.logo {
    vertical-align: middle;
    margin-right: 1em;
  }


.actions {
	padding: 0.5em;
	border-bottom : orange solid 1px;
	border-top : orange solid 1px;
}

.header, .playlists, .content {
    background : white;
    border : orange solid 1px;
}

.header {
    text-align: center;
  }


.playlists {
    margin-right:0%;
    
    float:left;
    width: 20%;
  }


.content {
	margin-left:0%;
	width: 70%;
	float:right;
  }

a,
a:visited {
	color : #ff4500;
}

a.new,
a.new:visited {
	color : darkred;
}
a.album,
a.album:visited,
a.artist,
a.artist:visited {
	color : darkorange;
}

.item_action {
	white-space:nowrap;
}

/*
a.action:visited,
.itemaction a:visited,
a.control:visited,
a.title:visited {
	color : darkred;
}
a.action,
a.itemaction,
a.control,
a.title {
	color : darkred;
}
*/

.control, .action {
	color : #ff4500;
	background:white;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.odd {
	background: lightyellow;
}

.active{
	background: #ffe0c0;
	color: darkred;
}
.active td{
	border : orange solid 1px;
}
tr.active td a{
	color: #c00000;
}
