## -*- coding: utf-8 -*-
% if localclient:
   <button id="camera_calib_button"class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text"> ${language['camera_calib_but']} </span></button> </br>
   </br>
   <button id="hand_gesture_calib_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text"> ${language['hand_gesture_calib_but']} </span></button>
% else:
    ${language['config_wizard_alert']}
% endif
</br>
<div id="output">
</div>
<script>

function startEverything(){
$("#camera_calib_button").click(function(){
   $.post("/confWizard/camera_calib",function(data){
       if (data!="true")
        {       
        $("#output").html('<font color="red"> ${language["camera_calib_err"]} </font>');
        }
    });
});
$("#hand_gesture_calib_button").click(function(){
   $.post("/confWizard/hand_gesture_calib",function(data){
       if (data!="true")
       {       
       $("#output").html('<font color="red"> ${language["hand_gesture_calib_err"]} </font>');
       } 
   });
});
}
</script>
<script>
   startEverything();
</script>
