<html>
<head>
<!-- add jQuery -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.20/themes/base/jquery-ui.css" type="text/css" media="all" /> 

<link type="text/css" rel="stylesheet" media="all" href="/css/indexTemplate.css" />


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script> 
<script src="http://code.jquery.com/ui/1.8.20/jquery-ui.min.js" type="text/javascript"></script> 


<script src="/js/VARIABLES.js" type="text/javascript"></script>
<script src="/js/trainingTemplate.js" type="text/javascript"></script>


<!-- script -->
<script>
//jQuery(function() {
jQuery(document).ready(function() {
	jQuery( "#tabs" ).tabs({
		ajaxOptions: {
			error: function( xhr, status, index, anchor ) {
				jQuery( anchor.hash ).html(
					"Couldn't load this tab. We'll try to fix this as soon as possible. " +
					"If this wouldn't be a demo." );
			}
		}
	});
});
</script>
</head>
<body>
  <!-- add tabs -->
  <div id="tabs" style="height:500px">
	  <ul>
		  <li><a href="/checkers/index">${language['systemCheck']}</a></li>
		  <li><a href="/confWizzard">${language['confWizzard']}</a></li>
		  <li><a href="/teleoperation">${language['teleop']}</a></li>
                  <li><a href="/training">${language['training']}</a></li>
		  <li><a href="/settings">${language['settings']}</a></li>
		  
	  </ul>
  </div>
</body>
</html>
