
<script>
	startEverything();
</script>

hola!



<div id="video">
 <canvas  id="canvasWebcam" width="260" height="220" > A navigator able to manage HTML5 is needed </canvas>
</div>

<div id="options">

	<div id="radio">
		<input type="radio" id="radioFace" name="radio" /><label for="radio1">Face Recognition</label>
		<input type="radio" id="radioObject" name="radio" checked="checked" /><label for="radio2">Object Recognition</label>
	</div>

</div>

<div id="botones">

	<button id="training">Train yourself</button>
	<button id="guessing">Guess what is this</button>

</div>

<div id="input">
 Insert face/object name <input id="face_object_name" /></input>
</div>





