<!--<script src="/training/trainingJs" type="text/javascript"></script>-->
<script>

/*	// Cargamos JS
    jQuery.ajax({
    success: function(data) {
                  if(data==false)
                  {
                      alert("failure!!");
                      history.go(0);
                      return;
                  }

                  var etiquetaScript=document.createElement("script");
                  document.getElementsByTagName("head")[0].appendChild(etiquetaScript);
                  etiquetaScript.text=data;

                  startEverything();
          },
    url: "/teleoperation/teleoperationJs",
    dataType: "text",
    type: "GET",
    });
*/


<%include file="teleoperationTemplate.js" />


startEverything();

</script>

<script language="JavaScript" src="/teleoperation/sip/rtmplite/videoPhone/bin-release/AC_OETags.js"></script>

<script language="JavaScript" src="/teleoperation/sip/rtmplite/videoPhone/bin-release/externalInterface.js"></script>

<script language="JavaScript" type="text/javascript">

<!--

// -----------------------------------------------------------------------------

// Globals

// Major version of Flash required

var requiredMajorVersion = 10;

// Minor version of Flash required

var requiredMinorVersion = 0;

// Minor version of Flash required

var requiredRevision = 22;

// -----------------------------------------------------------------------------

// -->



function hola(str){

     alert(str);

}

function recieveTextFromFlash(Txt) {


	alert(Txt);
	jQuery("#btn_connect").click();
//    document.getElementById('htmlText').value = Txt;

}


</script>


<table>
	<tr>
		Seleccin de la camara
	</tr>
        <tr>

		ojo ojojojo
        </tr>

        <tr>
		escribe texto
        </tr>
        <tr>
		lkajdfalkjdf
        </tr>
        <tr>
		movimiento de la cabeza
        </tr>
        <tr>
		tipo 1 y 2
        </tr>


</table>







<div id="qbo_video" style="width:100%;height:480px;" align="center">
	<div id="video" style="position:absolute;margin:0 auto;width:100%;">
		<img id="iframeTeleoperation" width="640px" height="480px" class="blueBorder"></img>
	</div>
    	<div id="video2" style="width:100%;position:absolute;z-index:22;" align="center">
	    <img id="imgInvisible" src="/teleoperation/static/img/cross.png" width="640px" height="480px"></img>
    	</div>
	
</div>

<!------------ VOICE FLASH ----------------->

<div id="div_audio" style="position:absolute;width:315px;z-index:40;" >

<div id="flash" >
</div>


<div>

<script language="JavaScript" type="text/javascript">

<!--

var flashVars=document.location.search;

    

// remove the '?' sign if exists

if (flashVars[0]=='?') {

    flashVars=flashVars.substr(2, flashVars.length-1);

}

else {

    // you can supply certain parameters from flashVars as follows

    // flashVars+="&sipURL=myuser@iptel.org&authName=myuser&authPass=mypass&gatewayURL=rtmp://localhost/sip&signupURL=http://serweb.iptel.org/user/reg/index.php";

}



// Version check for the Flash Player that has the ability to start Player Product Install (6.0r65)

var hasProductInstall = DetectFlashVer(6, 0, 65);




// Version check based upon the values defined in globals

var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);



if ( hasProductInstall && !hasRequestedVersion ) {

    // DO NOT MODIFY THE FOLLOWING FOUR LINES

    // Location visited after installation is complete if installation is required
    var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";

    var MMredirectURL = window.location;

    document.title = document.title.slice(0, 47) + " - Flash Player Installation";

    var MMdoctitle = document.title;



    AC_FL_RunContent(

        "src", "playerProductInstall",

        "FlashVars", "MMredirectURL="+MMredirectURL+'&MMplayerType='+MMPlayerType+'&MMdoctitle='+MMdoctitle+"",

        "width", "514",

        "height", "537",

        "align", "middle",

        "id", "VideoPhone",

        "quality", "high",

        "bgcolor", "#869ca7",

        "name", "VideoPhone",

        "allowScriptAccess","sameDomain",

        "type", "application/x-shockwave-flash",

        "pluginspage", "http://www.adobe.com/go/getflashplayer"

    );

} else if (hasRequestedVersion) {

    var hasVersion10_3 = DetectFlashVer(10, 3, 0);

    var hasVersion11 = DetectFlashVer(11, 0, 0);

    ///////////////////////////var VideoPhone = (hasVersion11 ? 'VideoPhone11' : (hasVersion10_3 ? 'VideoPhone45' : 'VideoPhone'));



//  var VideoPhone = (hasVersion11 ? 'VideoPhone11' : (hasVersion10_3 ? 'VideoPhone45' : 'VideoPhone'));
    var VideoPhone = (hasVersion11 ? 'VideoPhone' : (hasVersion10_3 ? 'VideoPhone' : 'VideoPhone'));
    // if we've detected an acceptable version

    // embed the Flash Content SWF when all tests are passed

    AC_FL_RunContent(

            "src", "/teleoperation/sip/rtmplite/videoPhone/bin-release/"+VideoPhone,

            "width", "220",

            "height", "150",

            "align", "middle",

            "id", "VideoPhone",

            "quality", "high",

            "bgcolor", "#869ca7",

            "name", "VideoPhone",

            "allowScriptAccess","always",

            "allowFullScreen", "true",

            "flashVars", flashVars,

            "type", "application/x-shockwave-flash",

            "pluginspage", "http://www.adobe.com/go/getflashplayer" 



    );

  } else {  // flash is too old or we can't detect the plugin

    var alternateContent = 'Alternate HTML content should be placed here. '

    + 'This content requires the Adobe Flash Player. '

    + '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';

    document.write(alternateContent);  // insert non-flash content

  }

// -->

</script>


	<div id="flashButtons" >

		
		<button id="btn_hungup" onClick="hangUp();" class="ui-state-default ui-corner-all" style="display:none;" >
			<span class="ui-icon ui-icon-stop"  > </span>
		</button>
                <button id="btn_connect" onClick="connect();" class="ui-state-default ui-corner-all" >
                        <span class="ui-icon ui-icon-volume-on"  >  </span>
                </button>
	</div>


</div>

</div>
<!---------  END FLASH ------------>






<div style="margin-top:10px;">

<table id="second_table" border="0" style="width:100%;" align="center">
<tr>
<td style="width:33%;">
<div id="camera_selection" style="width:20em;">
<fieldset style="border: 2px solid #4297D7">
<legend style="font-weight:bold;">${language['camera_selection']}</legend>
	<div id="radio" title="Camera Selection">
		<input type="radio" id="radioLeft" name="radio" checked="checked"/><label for="radio1"> ${language['left_eye']}</label></br>
		<input type="radio" id="radioRight" name="radio" /><label for="radio2"> ${language['right_eye']}</label>
        </br>
		<input type="radio" id="radio3d" name="radio" /><label for="radio2"> ${language['3d']}</label></br>
	</div>	
   </fieldset>
</div>
</br>
<div id="input" >
    <textarea id="textarea"name="comments" cols="30" rows="1" class="blueborder" style="border-shadow:1px;"> ${language['enter_message']}</textarea>
<button id="send_text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
        <span class="ui-button-text" >
            ${language['send_button']}
        </span>
    </button>
</div>

</td>
<td style="width:33%;">
<center> <div id="buttons">
    <button id="forward" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" ><span class="ui-button-text">&uarr; W</span></button></br>
    <button id="left" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" ><span class="ui-button-text">&larr; A</span></button>
    <button id="right" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" ><span class="ui-button-text"> D &rarr;</span></button></br>
    <button id="back" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">&darr; S </span></button>
</div></td>
<td style="width:33%;">
<div id="video_size" title="Video Size" style="width:15em;">
<fieldset style="border: 2px solid #4297D7">
<legend style="font-weight:bold;">${language['video_size']}</legend>
    <select   class="ui-widget select ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only "  id="video_size_select" >
        <option class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  value="0.5">${language['small']}</option>
        <option class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  value="1">${language['normal']}</option>
        <option class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  value="2" selected="selected">${language['large']}</option>
        <option class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  value="3">${language['very_large']}</option>
    </select>    
</fieldset>
</div>
</br>
<div id="head_movement_type" style="width:15em;">
<fieldset style="border: 2px solid #4297D7">
<legend style="font-weight:bold;">${language['head_move_type']}</legend>
	<div id="radio" title="Camera Selection">
		<input type="radio" id="head_type1" name="radio_type" checked="checked"/><label for="radio1"> ${language['type1']} </label></br>
		<input type="radio" id="head_type2" name="radio_type" /><label for="radio2"> ${language['type2']} </label>
        </br>
	</div>	
   </fieldset>
</div>
</td>
</tr>
</table>
</div>







