

<!--<script src="/training/trainingJs" type="text/javascript"></script>-->


<script>


	        //variables
                      jQuery.ajax({
                        success: function(data) {
                                      if(data==false)
                                      {
                                          alert("failure!!");
                                          history.go(0);
                                          return;
                                      }

                                      var etiquetaScript=document.createElement("script");
                                      document.getElementsByTagName("head")[0].appendChild(etiquetaScript);
                                      etiquetaScript.text=data;


                              },
                        url: "/teleoperation/teleoperationVariables",
                        dataType: "text",
                        type: "GET",
                      });




	// Obtengo el XML y separo sus nodos
                      jQuery.ajax({
                        success: function(data) {
                                      if(data==false)
                                      {
                                          alert("failure!!");
                                          history.go(0);
                                          return;
                                      }

                                      var etiquetaScript=document.createElement("script");
                                      document.getElementsByTagName("head")[0].appendChild(etiquetaScript);
                                      etiquetaScript.text=data;

					startEverything();
				      	

                              },
                        url: "/teleoperation/teleoperationJs",
                        dataType: "text",
                        type: "GET",
                      });

</script>


<table>

<tr>
	<td>
                <div id="output3">
                </div>
		<div id="output">
		</div>
		<div id="output2">
                </div>
	</td>
</tr>

<tr>
	<td>

		<div id="parentVideos" style="width:640px;">
			<div id="video" style="width:640px;height:480px;position:absolute;z-index:1; ">
				<img id="iframeTeleoperation" src="/teleoperation/static/img/cross.png" width="640px" height="480px"></img>
			</div>
			<div id="video2" style="width:640px;height:480px;position:absolute;z-index:22;">
				<img id="imgInvisible" src="/teleoperation/static/img/cross.png" width="640px" height="480px"></img>
            </div>
		</div>
	</td>
	<td>
		<div id="options" style="">

			<div id="radio">
				<input type="radio" id="radioLeft" name="radio" checked="checked"/><label for="radio1"> ${language['left_eye']}</label>
				<input type="radio" id="radioRight" name="radio" /><label for="radio2"> ${language['right_eye']}</label>
        		<input type="radio" id="radio3d" name="radio" /><label for="radio2"> ${language['3d']}</label>
			</div>	
	
		</div>
	</td>
</tr>
<tr>
	<td>
		<div id="botones">
			<button id="foward">${language['foward']}</button>
			<button id="back">${language['back']}</button>
		        <button id="left">${language['left']}</button>
		        <button id="right">${language['right']}</button>
		</div>
	</td>
</tr>


</table>
