
#mainTabs{
    margin: 0 auto;
    width: 90%;
    margin-top:50px;
}

.blueBorder {
    border-style: solid;
    border-width: 2px;
    border-color: #4297D7;
}


.qbo_button_improved{
    width: 270px;
}

.qbo_button_improved[disabled]{
    color: gray !important;
}

.qbo_button_improved[disabled]:hover{
    cursor:auto;
}


