<LINK REL=StyleSheet HREF="/qbo_questions/static/css/qbo_questions.css" TYPE="text/css" MEDIA=screen>

<script src="/qbo_questions/qbo_questionsJs"></script>
<script> startEverything(); </script>







<div id="main_div">

    <div id="div_q&a">

        <div id="div_input_question">
            Question
            <select id="listQuestions">
            </select>
        </div>

        <div id="div_input_answer">
            Answer
            <input type="text" id="answer" value="aaaaaaaa" /> 
        </div>


        <button id="addSentence"> ok </button>

    </div>


    <div id="div_table">
        <table id="dialogue_table">
    
        </table>
    </div>

</div>


